#gallery-sec {
	margin-top: 150px;
}

#gallery img {
	width: 500px;
}

#img-1 {
	margin-top: 25px;
}

#img-2 {
	margin-top: 25px;
}

#img-3 {
	margin-top: 25px;
}

#img-4 {
	margin-top: 25px;
}

#img-5 {
	margin-top: 25px;
}

#img-6 {
	margin-top: 25px;
}

#img-7 {
	margin-top: 25px;
}

#img-8 {
	margin-top: 25px;
}

#img-9 {
	margin-top: 25px;
}

#img-10 {
	margin-top: 25px;
}

#img-11 {
	margin-top: 25px;
}

#img-12 {
	margin-top: 25px;
}

#img-13 {
	margin-top: 25px;
}

#img-14 {
	margin-top: 25px;
}

#img-15 {
	margin-top: 25px;
}

#img-16 {
	margin-top: 25px;
}


